body
{
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.category
{
  fill: black;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 38px;
  pointer-events: none;
  user-select: none;
}

.subcategory
{
  fill: #00000070;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 38px;
  pointer-events: none;
  user-select: none;
}

#appcontainer {
    width: 100%;
    background-color: #f9f9f9;
}

#titlearea {
  width: 100%;

  
}

#resultsarea {
  width: 100%;
}

.app_title
{
  fill: black;
  font-family: 'Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 32px;
}

.app_subtitle
{
  fill: black;
  font-family: 'Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 22px;
}

#resultsinfo
{
  fill: black;
  font-family: 'Head','NoBH Regular',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
}

#resultsinfo ul
{
  margin-top: 0;
}

.label
{
  fill: black;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 24px;
  user-select: none;
}



#compass
{
  width: 100%;
  height: 600px;
  background-color: #f9f9f9;

}

svg
{
font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
background-color: #f9f9f9;
}

#RHoverlay
{
}