html
{
  overflow: hidden;
}

body
{
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #e7f2ee;
  
}

.category
{
  fill: #494f4d;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 34px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.subcattext.sc
{
  fill: #494f4d;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 26px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.subcattext.sm
{
  fill: #494f4d;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

#appcontainer {
  width: 100%;
  background-color: #e7f2ee;
}

#popout-container {
  display: none;
  position: absolute;
  top: 10px;
  left: 50px;
  color: #494f4d;
  font-family: 'Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 28px;
}

#originalquery
{
  font-size: 16px;
  padding-top: 5px;
  height: 16px;
  line-height: 16px;
}

#underline
{
  border-bottom: solid #494f4d 4px;
  width: 30px;
  height: 0px;
  display: none;
  padding-top: 3px;
}

#titlearea {
  padding: 50px 50px 10px; 
  background-color: #e7f2eee6;
}

#resultsarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #e7f2eee6;
  transition-property: opacity;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  padding: 30px 50px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #494f4d80;

}

#instructions {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #e7f2eee6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#instructionscontainer {
  position: relative;
  width: 65%;
}


#instructions1 {
  position: absolute;
  top: 0;
  opacity: 1;
}

#instructions2, #instructions3 {
  position: absolute;
  top: 0;
  opacity: 0;
}

#instructions3 {
  position: relative; /*set largest instructions set as relative */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.instructions_title
{
  color: #494f4d;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
}


.instructionsinfo {
  
  color: #494f4d;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
}


.instructionsinfo ul
{
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
}

.instructionsinfo li
{
  margin-top: 10px
}

.app_title {
  color: #494f4d;
  font-family: 'Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 38px;
}

.app_subtitle
{
  color: #494f4d;
  font-family: 'Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 17px;
}

.results_title
{
  color: #494f4d;
  font-family: 'Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 22px;
}

#resultsinfo
{
  color: #494f4d;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
}


#resultsinfo ul
{
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
}

#resultsinfo li
{
  margin-top: 5px
}

.label
{
  fill: #494f4d;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.labelcore
{
  fill: #e7f2ee;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.balanced
{
  fill: #e7f2ee;
  font-family: 'Head-Bold','Head','NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 22px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}



#windowedge
{
  stroke: #494f4d80;
  stroke-width: 2;
  stroke-dasharray: 10,10;
  fill: none;
}

#arrow, #searchicon, #bang
{
  stroke: #494f4d;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 22px;
  vertical-align: middle;
}

#arrow
{
  display: none;
}

#minisearchicon {
  stroke: #494f4d;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 28px;
  vertical-align: middle;
}

#searchiconwrapper {
  float: right;
  color: #494f4d;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
  padding: 10px;
  margin: -10px;
}

#compassicon
{
  stroke: #494f4d;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #494f4d;
  width: 28px;
  vertical-align: middle;
}

#compassrotator
{
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}

.turning
{
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;

}

.tick
{
  stroke: #494f4d;
  stroke-width: 3;
}

.minortick
{
  stroke: #494f4d;
  stroke-width: 2;
}



.arc
{
  stroke: transparent;
  stroke-width: 2;
  stroke-dasharray: 10,5;
  stroke-linejoin: round;
}

#indicator
{
  visibility: hidden;
}


#compass
{
  width: 100%;
  height: 600px;
  display: block;

}

svg
{
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
} 


#searchbox
{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

#searchform
{
  width: 60%;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  border-radius: 10px;
  background-color: transparent;
  border: solid 1px;
  border-color: #494f4d;


}

#searchquery {
  text-align: left;
  background-color: transparent;
  border: 0;
  padding: 8px 20px;
  flex: 1;
  width: 100%;
  color: #494f4d;
    font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
}

#searchquery:focus {
  outline: none;
}

#searchinput {
  border: 0;
  background: transparent;
  color: #494f4d;
}

#error {
  width: 100%;
  color: #494f4d;
  font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  height: 16px;
  pointer-events: none;
}

@media  only screen and (max-width: 450px),
        only screen and (max-height: 450px)
{
  .app_title
  {
    font-size: 24px;

  }

  .app_subtitle

  {
    font-size: 11px;
  }
  
  .results_title
  {
    font-size: 14px;
  }

  #resultsinfo
  {
    font-size: 14px;
  }

  #searchquery {
    font-size: 16px;
    padding: 4px 12px;
  }

  #searchform {
    border-radius: 6px;
  }



  #titlearea
  {
    padding: 25px 30px 15px;
    width: 100%;
  }

  #resultsarea
  {
    width: 100%;
    padding: 20px 30px;
  }

  #results_title
  {
    font-size: 18px;
  }

  #arrow,
  #compassicon,
  #searchicon,
  #bang
  {
    width: 14px
  }

  #popout-container
  {
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 20px;
  }

  #originalquery
  {
    font-size: 12px;
    padding-top: 4px;
  }

  #underline
  {
    border-bottom: solid #494f4d 2px;
    width: 16px;
    height: 0px;
    padding-top: 2px;
    display: none;
  }

  #searchiconwrapper {
    font-size: 12px;
  }

  #resultsinfo li {
    margin-top: 3px;
  }

  #searchform {
    width: 100%;
  }

  #minisearchicon {
    width: 20px;
  }

  .app_title {
    letter-spacing: -0.06vw;
    font-size: 7.3vw;
}

.app_subtitle {
    font-size: 3.32vw;
}

#arrow, #compassicon, #searchicon, #bang {
    width: 18px;
}

#underline {
    width: 18px;
}

#originalquery {
    font-size: 14px;
    letter-spacing: -0.5px;
}

.results_title {
    font-size: 18px;
    letter-spacing: -0.5px;
}

#searchform {
    height: 30px;
}

#minisearchicon {
    stroke-width: 12;
    margin-top: -1px;
}


}



/* Desktop */
@media all and (min-width: 981px) {
  #compass {
    height: 95vh!important;
    padding-left: 5%;
    padding-top: 3%;
  }
}

/* Tablet/Mobile */
@media all and (max-width: 980px) and (min-width: 450px) {
  #compass {
    height: 95vh!important;
    padding-left: 5%;
    padding-top: 5%;
  }
}

.app_title {
  font-family: 'Head-Bold';
  letter-spacing: -0.5px;
  font-size: 38px;
  /*letter-spacing: -0.06vw;
  font-size: 3.3vw;*/
}

.app_subtitle {
  font-family: 'Head-Bold';
  font-size: 17.2px; /*1.47vw;*/
}

#resultsinfo {
  line-height: 1.2em;
  font-size: 15px;
  font-weight: bold;
}

#compassicon {
  stroke-width: 14px;
  width: 24px;
}

#popout-container {
  font-size: 25px;
}

#searchform {
  width: 100%;
  border-radius: 8px;
  height: 34px;
  border-color: #494f4d87;
}

#minisearchicon {
  width: 25px;
  margin-top: -3px;
}

#searchquery {
  font-size: 14px;
  padding: 8px 16px;
}

#underline {
  border-bottom: solid #494f4d 3px;
  width: 23px;
  padding-top: 1px;
}

